<div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-4">
    <div class="login-form">
      <!-- /.login-logo -->
      <div class="login-form-body">
        <div class="row">
          <p *ngIf="loading" class="alert alert-info">Please wait ... </p>
          <p class="alert alert-danger" *ngIf="error && !loading">{{error.message}}</p>
          <p class="alert alert-success" *ngIf="message && !loading">{{message}}</p>
        </div>
        <form #forgetPasswordForm="ngForm" (ngSubmit)="onForgetPassword(forgetPasswordForm)" class="form-horizontal" role="form"> 
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-12 login-submit">
              <div class="row">
                <div class="btn-group">
                    <a href="/#/" class="btn btn-warning btn-flat">Back</a>
                    <button type="submit" class="btn btn-primary btn-flat">Reset your password</button>
                </div>
              </div>
            </div>
          </div>
        </form>
  
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>