<div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-4">
    <div class="login-form">
      <!-- /.login-logo -->
      <div class="login-form-body">
        <div class="row">
          <p *ngIf="loading" class="alert alert-info">Please wait ... </p>
          <p class="alert alert-danger" *ngIf="error && !loading">{{error.message}}</p>
          <p class="alert alert-success" *ngIf="message && !loading">{{message}}</p>
        </div>
        <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)" class="form-horizontal" role="form"> 
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Confirm Password" name="passwordConfirm" ngModel>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
          <div class="row">
            <div class="col-xs-12 login-submit">
              <div class="row">
                <button *ngIf="!message" type="submit" class="btn btn-primary btn-block btn-flat">Update your password</button>
                <a *ngIf="message" href="/#/login" class="btn btn-warning">Go to login page</a>
              </div>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>