<footer class="footer">
  <div class="row">
    <section class="container footer-top">
      <div class="row">
        <div class="col-md-5"><p>&copy; 2017 DigitalTolk - All rights reserved</p></div>
        <div class="col-md-7">
          <ul class="list-unstyled list-inline pull-right">
            <li><a href="#">OM OSS</a></li>
            <li><a href="#">VÅRA TJÄNSTER</a></li>
            <li><a href="#">FÖR TOLKAR</a></li>
            <li><a href="#">KONTAKT</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="row footer-bottom">
    <section class="container">
      <div class="row">
        <p class="pull-left">By using this site you agree to our using cookies</p>
        <p class="pull-right"> <a class="btn btn-default">OK</a></p>
      </div>
    </section>
  </div>  
</footer>